<div class="fixed-top  d-flex justify-content-center mt-1 ">
    <div class=" d-flex">
        <button type="button " class="btn btn-sm btn-secondary " (click)="zoomIn()"><i class="fa fa-search-plus "></i></button>
        <span class="bg-light p-2">{{truncar(zoom*100)}}%</span>
        <button type="button" class="btn btn-sm btn-secondary" (click)="zoomOut()"><i class="fa fa-search-minus"></i></button>
        
      
        <input #campoBusquedaLibro class=" form-control" type="text" id="buscar" placeholder="Buscar..." (keyup)="search(campoBusquedaLibro.value)" >
    </div>
   
</div>
    

<div style="margin-bottom: 200px">
    <pdf-viewer 
    style="display: block; width:100%; background-color: #0e0e0e"
    [src]="pdfSrc" 
         
          [show-all]="true"
          [zoom]="zoom"
          
          [original-size]="false"
          [autoresize]="true"
          (after-load-complete)="callBackFn($event)"
         
            #pdfViewer></pdf-viewer>
</div>
