
<div class="row"  style="margin-top: 70px" *ngIf="mostrarArticulo(); else cargando">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        <div class="jumbotron jumbotron-fluid p-5"  >
            <h1 class="display-4">{{info.tema}}</h1>
            <hr class="my-2">
            
            <div id="contenido">
                   
            </div>
            <div class="mt-0 mb-2" *ngIf="info!=null">
                <small>Por {{info.publicado_por}} en {{info.fecha_publicacion}}</small><br>
                <small *ngIf="info.actualizado_por!=null">, actualizado por {{info.actualizado_por}} en {{info.fecha_actualizacion}}</small>
            </div>
           
          
           
          
          </div>

    
 
    </div>
    <div class="col-lg-2">

    </div>
  </div>

    
  <ng-template #cargando>
        <div class="mx-auto w-75 " style="margin-top: 70px">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
          <p>Cargando Artículo...</p>
        </div>
      </ng-template>
    

  
    